.App {
  background-color: #15151c;
  color: white;

  align-items: center;
  justify-content: center;
  text-align: center;

  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;

  .gym-table {
    max-height: 75vh;
  }
}

h1 {
  font-family: "Courier New", monospace;
  font-weight: 900;
  text-shadow: 0 0 10px #fff, 0 0 20px #efbddb, 0 0 30px #e60073,
    0 0 40px #57042f, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  padding: 1em;
}
