.gym-table {
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  justify-content: center;

  table {
    display: block;
    overflow: auto;
    width: fit-content;

    thead {
      position: sticky;
      top: 0;
      width: 100%;
    }

    tr:hover td {
      background-color: #30393b;
    }

    td.delete {
      cursor: pointer;

      &:hover {
        color: #efbddb;
        background-color: #57042f;
      }
    }
  }
}
