.gym-table {
  height: 100%;
  overflow: clip;
  flex: 1;

  table {
    display: block;
    overflow-y: auto;
    height: 100%;

    thead {
      position: sticky;
      top: 0;
    }

    tr:hover td {
      background-color: #30393b;
    }

    td.delete {
      cursor: pointer;

      &:hover {
        color: #efbddb;
        background-color: #57042f;
      }
    }
  }
}
